@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@100;200;300;400;500;600;800;900&display=swap');

// Color Variables
$alabaster: #ebe8e1;
$charlestonGreen: #272c2c;
$richBlackFogra39: #070b0d;
$timberwolf: #D7D4CC;
$copper: #a26f3f;

//Color Gradients
$gradientGreen: linear-gradient(45deg, #272c2c 65%, #303636);
$gradientGreenTransparent: linear-gradient(transparent 0%, $charlestonGreen 30%);
$gradientCream: linear-gradient(45deg, $alabaster, #D6D0C2);

// Font Variables
$playfairDisplay: 'Playfair Display', serif;
$raleway: 'Raleway', sans-serif;

@mixin breakpoint {
  @media screen and (max-width: 768px) {
    @content;
  }
}